<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<title>{{ config.SITE_NAME}}</title>
	</head>

	<body>
		<div id="header">
			<h1>Magnetic field symulator</h1>
		</div>
		<div id="underheader"></div>

	<div class="center">
		<div class="right">
		<table class="tg">
			<thead>
				<th colspan=3>Simulation Data</th>
			</thead>
			<form method="POST" action="{{ url_for('index') }}">
			<tr>
				<td class="tg0"><br>X position:<br><input type="text" name="px" value=""></td>
	            <td class="tg0"><br>Y position:<br><input type="text" name="py" value=""></td>
	            <td class="tg0"><br>Z position:<br><input type="text" name="pz"></td>
			</tr>
			<tr>
				<td class="tg1"><br>X velocity:<br><input type="text" name="vx" value=""></td>
	            <td class="tg1"><br>Y velocity:<br><input type="text" name="vy" value=""></td>
	            <td class="tg1"><br>Z velocity:<br><input type="text" name="vz" value=""></td>
			</tr>
			<tr>
				<td colspan=3 class="tg0"><br>Induction:<br><input type="text" name="force" value=""></td>
			</tr>
			<tr>
				<td colspan=3 class="tg1">
					<br>Field direction:<br><br><input type="radio" name="direction" value="positive" checked>Positive<br><input type="radio" name="direction" value="negative">Negative
				</td>
			</tr>
			<tr>
				<td colspan=3 class="tg0">
					<br>Charge:<br><br><input type="radio" name="charge" value="proton" checked>Proton
					<br><input type="radio" name="charge" value="electron">Electron
				</td>
			</tr>
			<tr>
				<td colspan=3 class="tg1">
					<br><input type="submit" value="Submit">
				</td>
			</tr>
		</form>
		</table>
		</div>

		<div class="picture">
		<p>
            {% if error %}
                <strong class="error">Error: {{ error }}</strong>
            {% endif %}

            {% for message in get_flashed_messages() %}
                <strong class="success">{{ message }}</strong>
            {% endfor %}
        </p>
        <ol>
            <!-- wypisujemy kolejno wszystkie zdania -->
            {% for cell in data %}
            {% if cell.id<8 %}
                <li>
                <fieldset><legend>Data set</legend>
                <table class="data">
                <tr> 
                    <td id="al">Px : {{ cell.px }}</td>
                    <td id="ac">Py : {{ cell.py }}</td>
                    <td id="ar">Pz : {{ cell.py }}</td>
                </tr>
                <tr>
                    <td id="al">Vx : {{ cell.vx }}</td>
                    <td id="ac">Vy : {{ cell.vy }}</td>
                    <td id="ar">Vz : {{ cell.vz }}</td>
                </tr>
                <tr>
                    <td id="al">Force : {{ cell.force }}</td>
                    <td id="ac">Direction : {{ cell.direction }}</td>
                    <td id="ar">Charge : {{ cell.charge }}
                </tr>
            	</table>
                </fieldset>    
                </li>
            {% endif %}
            {% endfor %}
        </ol>
			<!--<img src="1.jpg" />-->
		</div>
	</div>
		<div id="footer"><h2>Copyright by: Katarzyna Zuberek, Michal Swiergolik, Aleksandra Mankiewicz</h2></div>

        <ol>
            
        </ol>
	</body>

</html>
